.something {

    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.arrow-right {
    background-color: rgba(0,200,0,0.4);
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
    height: 100px;
    left: -50px;
    position: absolute;
    top: -50px;
    width: 100px;
    -webkit-transform: rotate(-45deg);
}


.arrow-right span {
    color: black;
    font-family: sans-serif;
    font-size: 1.005em;
    left: 28px;
    top: 78px;
    position: absolute;
    width: 80px;
}